@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');

.head_about_us,
.head_shipping_and_payment,
.img_shopping_and_payment {
  display: flex;
  justify-content: center;
}

.content_about_us {
  font-weight: 700;
  font-family: 'Nunito Sans';
  font-size: 16px;
  line-height: 140%;
  /* or 25px */
}

.container {
  max-width: 1166px;
  width: 75%;
  margin: 0 auto;
  padding: 0 20px;
}

.courier_info {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  /* or 25px */


  color: #000000;
}

.content_shipping_and_payment {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  /* or 25px */


  color: #000000;
}