@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');

body {
    margin: 0 auto;
}

.name {
    font-family: Nunito Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
    margin-bottom: 64px;
    text-align: center;
}

.card-text {
    font-family: Nunito Sans;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;

}

.row {
    --bs-gutter-x: 1.5rem;
    margin-top: 2rem !important;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x)/ -2);
    margin-left: calc(var(--bs-gutter-x)/ -2);
    justify-content: center;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    border: none !important;
    background-clip: border-box;
    width: 18rem;
    max-width: 296px !important;
}
img {
   
}
.w-18r {
    margin: 20px 35px;
}