
body {
  height: 550px;
}
.list_coments {
  display: flex;
  flex-wrap: wrap;
  width: 380px;
  height: 261px;
  justify-content: left;
  margin: 40px;
  background-color: #ffd877;
  box-sizing: border-box;
  border-radius: 16px;
  box-shadow: -16px -16px 0px #ffa500;
  margin-top: 64px;
  margin-bottom: 64px;
}
.ul_coment {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
}


li {
  list-style-type: none;
}

.block_coment2 {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
 
  left: 30px;
  height: 40px;
}



.x {
  color: black;
  width: 100px;
  height: 30px;
  font-size: 15px;
  border-color: black;
  background-color: red;
  margin-left: 10px;
  border-radius: 10px;
  font-weight: 600;
}

.inpName {
  margin: 10px;
  background-color: gold;
  border-color: red;
  width: 150px;
  height: 30px;
  color: black;
}

.inpcommit {
  width: 150px;
  height: 30px;
  color: black;
}

.bnt_add {
  color: black;
  background-color: rgb(8, 235, 8);
  border-color: blue;
  width: 80px;
  height: 30px;
  margin: 10px;
}

.bnt_com {
  color: black;
  border-color: blue;
  background-color: yellow;
  font-weight: 700;
}

.block_add {
  display: flex;
  justify-content: center;
  width: 200px;
  height: 30px;
  position: absolute;
 
  left: 30px;
}

.reviews {
  display: flex;
  align-items: center;
  color: #1e1e1e;
  width: 188px;
  height: 58px;
  text-align: center;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  margin: 0 auto;
}

.add_coment {
  padding: 0;
}

.block_reviews {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 188px;
  height: 58px;
}

.plaginetion {
  width: 100%;
  align-items: center;
  position: relative;
  bottom: 5px;
}