.delete_btn {
    color: black;
    height: 25px;
    width: 100px;
    margin-top: 20px;
    background-color: red;
    font-weight: 700;
    border-radius: 10px;
  }
  

  .li_coment {
    color: #1E1E1E;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    margin-top: 20px;


}

.li_name {
    font-weight: 700;
font-size: 16px;
line-height: 120%;
color: #000000;
margin-top: 40px;

}

.stars {
  display: flex;
  align-items: center;
  font-size: 25px;
    color: yellow;
    margin: 10px;
}

.gpate {
  display: flex;
  text-align: center;
  align-items: center;
  margin-left: 40px;

}