button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }
  .on {
    color: #000;
  }
  .off {
    color: #ccc;
  }
  
  .star {
    font-size: 30px;
  }

  @media (max-width: 1000px)  {
    .star {
      font-size: 15px;
    }
  }
  